.check-box {
    -fx-text-fill: black;
}

/* unselected */
.check-box > .box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #bababa;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 1;
}


.check-box > .box > .mark {
    -fx-background-insets: 0;

    -fx-padding:7px;
    -fx-shape: "M9.005,17.766l13.759,14.739h1.716L49.02,0l10.298,8.488L25.997,50.453h-3.629L0,26.897L9.005,17.766z"
}

.check-box:hover > .box {
    -fx-border-color: #919191;
}

/* focused */

.check-box:focused > .box{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: black, #bababa;
    -fx-border-width: 1, 2;
    -fx-border-style: segments(1, 2), solid;
    -fx-border-insets: -3, 0;
}

.check-box:focused:hover > .box{
    -fx-border-color: black, #919191;
}

.check-box:indeterminate > .box > .mark {
    -fx-background-color: black;
    -fx-background-insets: 2.8;
    -fx-padding:7px;
    -fx-shape: null;
}

.check-box:selected > .box > .mark{
    -fx-background-color: black;
}

.check-box:disabled
{
    -fx-opacity: 0.4;
}

.check-box:disabled > .box
{
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;
}

.check-box:armed > .box
{
    -fx-background-color: white, black;
    -fx-background-insets: -1, 2;
    -fx-background-radius: 0, 0;
    -fx-border-color: black;
}

.check-box:pressed:selected > .box > .mark
{
    -fx-background-color: white;
}

.check-box:armed > .box > .mark
{
    -fx-background-color: black;
}

