.combo-box-base  {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0em 0.166667em 0em 0.166667em; /* 0 2px 0 2px*/

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.333333em; /* 16 */
}

.combo-box-base:hover {
    -fx-background-color: transparent, #909090, transparent, white;
}

.combo-box-base:focused {
    -fx-background-color: transparent, #5c5c5c, transparent, white;
    -fx-background-insets: -1.4, 0, 1, 2;

    -fx-background-radius: 0, 0, 0, 0;
}

.combo-box-base:focused:hover {
    -fx-background-color: transparent, #909090, transparent, white;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* OPEN BUTTON */
.combo-box-base > .arrow-button {
    -fx-background-color: transparent, transparent, transparent;
}

/* ARROW */
.combo-box-base > .arrow-button > .arrow {
    -fx-padding: 0.236110875em 0.333333em 0.236110875em 0.333333em; /* (2/3 * 4.25) 4 (2/3 * 4.25) 4 */
    -fx-shape: "M-78,640l-6-5.5v-3l6,5l0,0l6-5v3L-78,640L-78,640z";
    -fx-background-insets: 0 0 0 0, 0;
    -fx-background-color: black;
}

/* LIST (Popup)*/
.combo-box-popup > .list-view {
    -fx-effect: null;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-padding: 4 0 4 5;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: black;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected{
    -fx-background-color: #55c4fe;  /* TODO: this probably is the "active" color" */
}
